.step1-container {
  padding: 10vh 10vw;
  .jumbotron-container {
    border-radius: 10px;
    padding: 40px;
    .name-input-box {
      input {
        font-size: 50px;
        margin: 40px 0 30px;
        border: none;
        border-bottom: 4px solid #666;
        background: none;
        text-align: center;
        color: orange;
        max-width: 100%;
      }
      input:focus {
        outline-color: rgba(0,0,0,0);
      }
    }
  }
}

.type-selection {
  margin-top: 40px;
}

.left-col {
  display: inline-block;
  width: 30%;
  height: calc(100vh - 80px);
  max-width: 560px;
}

.right-col {
  display: inline-block;
  width: 60%;
  margin-left: 5%;
  vertical-align: top;
  text-align: center;
  padding: 20px;
  .logo-container {
    position: relative;
    overflow: hidden;
    text-align: center;
    i, .logo-text {
      cursor: pointer;
    }
  }
}

.control-container {
  background: #EEE;
  padding: 20px;
  border: 2px solid #CCC;
  border-radius: 10px;
  text-align: left;
  box-shadow: 5px 5px 20px black;
  height: 90vh;
  overflow-y: auto;
  h2 {
    color: orange;
    margin: 10px 0 20px 0;
  }
  label {
    font-size: 18px;
    min-width: 100px;
    display: inline-block;
  }
  .input-field, .color-picker {
    margin-bottom: 10px;
  }
  .range-picker {
    width: calc(100% - 110px);
    display: inline-block;
    vertical-align: middle;
  }
  .icon-picker-container {
    i {
      font-size: 32px;
      border: 1px solid black;
    }
    span {
    }
  }
  .color-sample {
    width: 25px;
    height: 25px;
    border: 1px solid black;
    vertical-align: top;
    display: inline-block;
    cursor: pointer;
  }
  .color-picker-container {
    vertical-align: top;
    display: inline-block;
    .color-picker-confirm-btn {
      margin-top: 15px;
    }
  }
}
